

h1{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}


.intro{
    font-size: 10rem;
    color: blue;
    
}

p{
    font-weight: 100;
}
    
    
